name: "Tests"

on: [pull_request]
jobs:
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Run Tests
      run: |
        docker run --rm -v $PWD:/app composer sh -c \
        "composer install && vendor/bin/phpunit --configuration phpunit.xml"
